<app-eshop-header></app-eshop-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="title-head">VENDING MACHINES</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="background-color">
            <div class="background-card-content">
                <div class="row background-card-padding">
                  <div class="col-lg-6 col-md-6">
                      <div class="card">
                        <div class="card-header">
                          <img src="../../assets/Indus.webp" alt="">
                        </div>
                        <div class="card-body">
                        <div class="hotels-content">
                          <h5>Indus</h5>
                          <p> Enquire for details</p>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="card">
                        <div class="card-header">
                          <img src="../../assets/Indusplus.webp" alt="">
                        </div>
                        <div class="card-body">
                        <div class="hotels-content">
                          <h5>Indus Plus</h5>
                          <p> Enquire for details</p>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row background-card-padding">
                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-header">
                            <img src="../../assets/Coffeefactorynew.webp" alt="">
                            </div>
                          <div class="card-body">
                          <div class="hotels-content">
                            <h5>Coffee Factory</h5>
                            <p>Enquire for details</p>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-header">
                            <img src="../../assets/Kaffa.webp" alt="">
                            </div>
                          <div class="card-body">
                          <div class="hotels-content">
                            <h5>Kaffa</h5>
                            <p>Enquire for details</p>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  <div class="row background-card-padding">
                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-header">
                            <img src="../../assets/Siennanew.webp" alt="">
                            </div>
                          <div class="card-body">
                          <div class="hotels-content">
                            <h5>Sienna</h5>
                            <p>Enquire for details</p>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-header">
                            <img src="../../assets/Celesta_Machine_2.webp" alt="">
                            </div>
                          <div class="card-body">
                          <div class="hotels-content">
                            <h5>Celesta</h5>
                            <p>Enquire for details</p>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
        </div>
    </div>
</div>
<app-eshop-footer></app-eshop-footer>