<app-eshop-header></app-eshop-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="title-head">COFFEE & TEA</h2>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-lg-8 col-md-6 col-sm-3 col-3">
            <p class="filter">Filters</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-9 col-9">   
            <div class="select-category">
                <span>Sort By</span>
                <select class="form-select">
                  <option selected>Position</option>
                  <option value="1">Product Name</option>
                  <option value="2">Price</option>
                  <option value="3">New</option>
                  <option value="4">Most Viewed</option>
                  <option value="5">Bestsellers</option>
                </select>
                <fa-icon [icon]="faArrowUp"></fa-icon>  
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="card category-card">
                <div class="card-body">
                    <p class="card-title">Sub-Category</p>
                    <p class="title">COFFEE <span>7</span></p>
                    <p class="Price">Price</p>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-12">
            <!-- Row One -->
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card product-Card">
                        <div class="card-header">
                            <img  src="../../assets/DOUBLE_CHOCO_CHIP_COOKIES.webp" alt="">
                        </div>
                      <div class="card-body">
                        <div class="product-content">
                        <p>DOUBLE CHOCO CHIP COOKIES (PACK OF 2)</p>
                        <strong>₹400</strong>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="btn-group">
                          <div class="count-btn">
                            <button class="minus">-</button>
                          <input type="text">
                          <button class="plus">+</button>
                          </div>
                          <div class="addToCart">
                            <button class="btn">Add To Cart</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card product-Card">
                        <div class="card-header">
                            <img  src="../../assets/HONEY & OAT MEAL COOKIES.webp" alt="">
                        </div>
                      <div class="card-body">
                        <div class="product-content">
                        <p>HONEY & OAT MEAL COOKIES (Pack of 2)</p>
                        <strong>₹249</strong>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="btn-group">
                          <div class="count-btn">
                            <button class="minus">-</button>
                          <input type="text">
                          <button class="plus">+</button>
                          </div>
                          <div class="addToCart">
                            <button class="btn">Add To Cart</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <!-- Row Two -->
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card product-Card">
                        <div class="card-header">
                            <img  src="../../assets/Chocolate_img.webp" alt="">
                        </div>
                      <div class="card-body">
                        <div class="product-content">
                        <p>JOIE ROASTED ALMOND (PACK OF 20)</p>
                        <strong>₹599</strong>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="btn-group">
                          <div class="count-btn">
                            <button class="minus">-</button>
                          <input type="text">
                          <button class="plus">+</button>
                          </div>
                          <div class="addToCart">
                            <button class="btn">Add To Cart</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card product-Card">
                        <div class="card-header">
                            <img  src="../../assets/FUNZA COATED PEANUT.webp" alt="">
                        </div>
                      <div class="card-body">
                        <div class="product-content">
                        <p>FUNZA COATED PEANUT 50GMS (Pack of 8)</p>
                        <strong>₹480</strong>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="btn-group">
                          <div class="count-btn">
                            <button class="minus">-</button>
                          <input type="text">
                          <button class="plus">+</button>
                          </div>
                          <div class="addToCart">
                            <button class="btn">Add To Cart</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <!-- Row Three -->
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card product-Card">
                        <div class="card-header">
                            <img  src="../../assets/SPINACH NACHOS.webp" alt="">
                        </div>
                      <div class="card-body">
                        <div class="product-content">
                        <p>SPINACH NACHOS (Pack of 5)</p>
                        <strong>₹300</strong>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="btn-group">
                          <div class="count-btn">
                            <button class="minus">-</button>
                          <input type="text">
                          <button class="plus">+</button>
                          </div>
                          <div class="addToCart">
                            <button class="btn">Add To Cart</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card product-Card">
                        <div class="card-header">
                            <img  src="../../assets/funza_beetroot_nachos.webp" alt="">
                        </div>
                      <div class="card-body">
                        <div class="product-content">
                        <p>FUNZA BEETROOT NACHOS (Pack of 5)</p>
                        <strong>₹300</strong>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="btn-group">
                          <div class="count-btn">
                            <button class="minus">-</button>
                          <input type="text">
                          <button class="plus">+</button>
                          </div>
                          <div class="addToCart">
                            <button class="btn">Add To Cart</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>        
            <!-- Row Four -->
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card product-Card">
                        <div class="card-header">
                            <img  src="../../assets/BANANA BITES.webp" alt="">
                        </div>
                      <div class="card-body product-card-content">
                        <div class="product-content">
                        <p>BANANA BITES (Pack of 5)</p>
                        <strong>₹300</strong>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="btn-group">
                          <div class="count-btn">
                            <button class="minus">-</button>
                          <input type="text">
                          <button class="plus">+</button>
                          </div>
                          <div class="addToCart">
                            <button class="btn">Add To Cart</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card product-Card">
                        <div class="card-header">
                            <img  src="../../assets/FUNZA SPICY LEMON PEPPER CASHEWS.webp" alt="">
                        </div>
                      <div class="card-body">
                        <div class="product-content">
                        <p>FUNZA SPICY LEMON PEPPER CASHEWS</p>
                        <strong>₹1,200</strong>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="btn-group">
                          <div class="count-btn">
                            <button class="minus">-</button>
                          <input type="text">
                          <button class="plus">+</button>
                          </div>
                          <div class="addToCart">
                            <button class="btn">Add To Cart</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>        
            <!-- Row Five -->
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="card product-Card">
                        <div class="card-header">
                            <img  src="../../assets/FUNZA SWEET CHILLI BBQ ALMONDS.webp" alt="">
                        </div>
                      <div class="card-body">
                        <div class="product-content">
                        <p>FUNZA SWEET CHILLI BBQ ALMONDS (PACK OF 12)</p>
                        <strong>₹1,200</strong>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="btn-group">
                          <div class="count-btn">
                            <button class="minus">-</button>
                          <input type="text">
                          <button class="plus">+</button>
                          </div>
                          <div class="addToCart">
                            <button class="btn">Add To Cart</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<app-eshop-footer></app-eshop-footer> 