<div class="container-fluid">
    <div class="menu">
        <nav class="navebar fixed-top">
            <input type="checkbox" id="check">
            <label for="check">
                <fa-icon [icon]="faCircle" id="btn"></fa-icon>
                <fa-icon [icon]="faXmark" id="cancle"></fa-icon>
        
            </label>
            <img routerLink="" src="../../assets/logo.png" alt="">
    
            <ul>
                <li class="menu1"><a routerLink="/cafe-menu">Cafe Menu</a></li>          
                <li class="menu2"><a routerLink="/e-shop">E-shop</a></li>
                <li class="menu3"><a href="#">Order Online</a></li>
                <li class="menu4"><a routerLink="/cafe-finder">Cafe Finder/Cafe Locator</a></li>
                <li class="menu5"><a routerLink="/mobile-app" >Mobile App/CCD Mobile App</a></li>
            </ul>
            <label class="icon">
                <fa-icon class="search-icon" [icon]="faScarch"></fa-icon>
                <fa-icon class="notification-icon" [icon]="faBell"></fa-icon>
                <fa-icon class="porfile-icon" [icon]="faProfile"></fa-icon>
            </label>
        </nav> 
    </div>
</div>