<div class="container-fluid">
    <div class="padding">
        <div class="row">
            <div class="icon">

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="menu">
                    <strong>Quick Links</strong>
                        <ul>
                            <li><a href="#">Cafe Menu</a></li>
                            <li><a href="#">Cafe Finder/ Cafe Locator</a></li>
                            <li><a href="#">Customer Care</a></li>
                        </ul>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    <strong>Cafe Menu</strong>
                        <ul>
                            <li><a href="#">Food For Mood</a></li>
                            <li><a href="#">Hot Classic</a></li>
                            <li><a href="#">All-Time Chillers</a></li>
                            <li><a href="#">All-Day Delights</a></li>
                            <li><a href="#">Sweet Tooth x 32</a></li>
                            <li><a href="#">Nutritional Info</a></li>
                        </ul>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    <strong>Shop</strong>
                        <ul>
                            <li><a href="#">Coffee Mugs & Cups</a></li>
                            <li><a href="#">Coffee Makers & Wakecup</a></li>
                            <li><a href="#">Coffee Powder</a></li>
                            <li><a href="#">Gift</a></li>
                        </ul>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    <strong>Business</strong>
                        <ul>
                            <li><a href="#">Lease Inquiry</a></li>
                            <li><a href="#">Advertise With Us</a></li>
                            <li><a href="#">Coffee Vending Machine</a></li>
                            <li><a href="#">Outdoor Catering Service</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    <strong>About Us</strong>
                        <ul>
                            <li><a href="#">Awards</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Governance</a></li>
                            <li><a href="#">Bean To Cup</a></li>
                            <li><a href="#">News & Events</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                </div>
            </div>
        </div> 
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">© Cafe Coffee Day. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>