<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="headerText fixed-top">
                <strong>FREE SHIPPING ON ORDERS ABOVE RS.999!</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="menu">
                <nav class="navebar fixed-top">
                    <input type="checkbox" id="check"> 
                    <label for="check">
                        <fa-icon [icon]="faBars" id="btn"></fa-icon>
                
                    </label>
                    <img routerLink="" src="../../assets/logo.png" alt="">
            
                    <ul>
                        <li class="menu1"><a routerLink="/coffee-and-tea">COFFEE & TEA</a></li>          
                        <li class="menu2"><a routerLink="/mugs-and-gifts">MUGS & GIFTS</a></li>
                        <li class="menu3"><a routerLink="/munchines">MUNCHIES</a></li>
                        <li class="menu4"><a routerLink="/beverages">BEVERAGES</a></li>
                        <li class="menu5"><a routerLink="/beverages" >CORPORATE & BULK ORDERS</a></li>
                        <li class="menu4"><a routerLink="/hotels">HOTELS</a></li>

                    </ul>
                    <label class="icon">
                        <fa-icon class="search-icon" [icon]="faScarch"></fa-icon>
                        <fa-icon class="Cart-icon" [icon]="faCartShopping"></fa-icon>
                    </label>
                </nav> 
            </div>
        </div>
    </div>
</div>   