<app-eshop-header></app-eshop-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h2 class="title-head">HOTELS AND RESORTS</h2>
        </div>
    </div>

    <div class="background-card-content">
        <div class="row background-card-padding">
          <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body">
                <div class="hotels-content">
                  <img src="../../assets/Product-Listing_Bandipur_579x277.webp" alt="">
                  <h5>THE SERAI BANDIPUR</h5>
                  <p> Price range - ₹ 14500 - 21500 (Exclusive of taxes, on CP Plan)</p>
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body">
                <div class="hotels-content">
                  <img src="../../assets/Product-Listing_Chikmagalur.webp" alt="">
                  <h5>THE SERAI CHIKMAGALUR</h5>
                  <p>Price range - ₹ 19000 - 24500 (Exclusive of taxes, on CP plan)</p>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row background-card-padding-row2">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                  <div class="card-body">
                  <div class="hotels-content">
                    <img src="../../assets/Product-Listing_Kabini.webp" alt="">
                    <h5>THE SERAI KABINI</h5>
                    <p>Price range - ₹ 14000 - 21500 (Exclusive of taxes, on CP plan)</p>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="card">
                  <div class="card-body">
                  <div class="hotels-content">
                    <img src="../../assets/Product_Listing_Barefoot.webp" alt="">
                    <h5>THE SERAI BAREFOOT HAVELOCK</h5>
                    <p> Price range - ₹ 10500 - 22500 (Exclusive of taxes, on CP plan)</p>
                  </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
</div>
<app-eshop-footer></app-eshop-footer>