<app-header></app-header>
<div class="container-fluid">
    <div class="card  header">
        <div class="wrapper">
            <div><button class="btn waitBtn" routerLink="/lease-enquiry">LEASE ENQUIRY</button></div>
            <div><button class="btn hoverBtn" routerLink="/advertise-with-us">ADVERTISE WITH US</button></div>
            <div><button class="btn hoverBtn" routerLink="/e-shop">COFFEE VENDING MACHINE</button></div>
            <div><button class="btn hoverBtn" routerLink="/catering-services">CATERING SERVICE</button></div>
          </div>
    </div>
    <div class="padding-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="info-content">
                <h2 class="title-head">Lease Enquiry</h2>
                <p>Thank you for your interest in Cafe Coffee Day. We are glad to expand our existing (Company owned or company operated) cafes. However, We do NOT franchise.We would be glad to partner with you, if you own a commercial or commercially converted/convertible retail space on a rental/revenue share basis with the following specifications:</p>
                <p>1) Retail Space Area: 1000 - 1500Sqft (Ground Floor)</p>
                <p>2) Minimum Frontage: 25 running feet</p>
                <p>3) Ample Parking space</p>
                <p>If you meet our specifications mentioned above, please write to us with the following (mandatory) details and we?ll get back to you soon.</p>
                <p>a. Name(s) of one or all the owners of the retail space.</p>
                <p>b. Postal Residential Address, Contact Numbers and email id of the owner/owners</p>
                <p>c. Postal Address of the Retail Space</p>
                <p>d. Retail Space Area (square feet)</p>
                <p>e. Frontage of the Retail Space</p>
                <p>f. Photographs of your location</p>
                <p>g. Demographics of the catchment area</p>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="details-title">Contact Details</h2>
                <strong>Write to us at: <span>bd@cafecoffeeday.com</span></strong>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>