<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-lg-12">
            <div class="Background-Image">
                <img src="../../assets/Website Banner-App Upgrade_0.png" alt="">
            </div>
        </div> -->
        <div class="gallery">
            <a target="_blank">
                <img src="../../assets/Website Banner-App Upgrade_0.png" alt="">
            </a>
            <div class="desc"><button class="btn">TAKE ME TO CCDONLINE.IN</button></div>
          </div>
    </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        <h2>
          FREQUENTLY ASKED QUESTIONS ABOUT THE CCD APP AND HOW TO USE THE
          EXISTING BEANS FROM THE CCD APP FROM HEREON
        </h2>
        <div>
          <p class="Header-Text">Why is the CCD App getting disabled?</p>
          <p class="Body-Text">
            We need to improve the functionalities of the app and make it more
            exciting for our users, therefore the app is going to be removed
            temporarily.
          </p>
        </div>
        <div>
          <p class="Header-Text">When is the CCD App going to be back?</p>
          <p class="Body-Text">
            CCD App will be back soon with all new features. Timeline for the
            relaunch will be communicated soon.
          </p>
        </div>
        <div>
          <p class="Header-Text">
            Will we be able to order online from CCD without the app?
          </p>
          <p class="Body-Text">
            Yes, you can order online through our new contactless platform -
            www.ccdonline.in and have a seamless experience.
          </p>
        </div>
        <div>
          <p class="Header-Text">
            Can we order takeaway from ccdonline.in as we used to using PICKUP &
            GO feature on the CCD app?
          </p>
          <p class="Body-Text">
            Yes, you can order takeaway using the PICKUP & GO option through
            www.ccdonline.in and even schedule your pickups for a particular
            time of the day.
          </p>
        </div>
        <div>
          <p class="Header-Text">
            What will happen to the Beans I earned through the CCD app?
          </p>
          <p class="Body-Text">
            Your Beans are safe and will be transferred to your ccdonline.in
            account if you register using the same mobile number as used for the
            app.
          </p>
          <p class="Body-Text">
            I could not use my beans during the lockdown period. Would they have
            expired?
          </p>
          <p class="Body-Text">
            Considering the Covid-19 lockdown, we have already extended the
            expiry date of all existing Beans till 31st December 2020. All your
            Beans are safe and valid till then. You can also choose to use them
            on www.ccdonline.in.
          </p>
        </div>
        <div>
          <p class="Header-Text">What will be the validity of the Beans now?</p>
          <p class="Body-Text">
            You can use your existing Beans from the app till 31st December
            2020.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
