<div class="container-fluid">
    <div class="padding">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
                <div class="inputBox">
                <div class="form">
                    <label for="email" class="form-label">Let us reach you</label>
                    <div class="input-group">
                        <input type="text" placeholder="Your E-mail ID">
                        <button class="btn" type="button">SUBMIT</button>
                      </div>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="icon">
                    <img src="../../assets/instagram_footer.webp" alt="">
                    <img src="../../assets/facebook_footer.webp" alt="">
                    <img src="../../assets/youtube_footer.webp" alt="">
                    <img src="../../assets/twitter_footer.webp" alt="">
                    <img src="../../assets/pinterest_footer.webp" alt="">
                </div>
            </div>
        </div>
        <hr class="hr">
        <div class="row">
            <div class="col">
                <div class="menu">
                    <strong>Quick Links</strong>
                        <ul>
                            <li><a routerLink="/cafe-menu">Cafe Menu</a></li>
                            <li><a routerLink="/cafe-finder">Store Locator</a></li>
                            <li><a href="#">The Square</a></li>
                            <li><a href="#">The Lounge</a></li>
                            <li><a routerLink="/customerCare">Customer Care</a></li>
                        </ul>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    <strong>Cafe Menu</strong>
                        <ul>
                            <li><a href="#">What's New</a></li>
                            <li><a routerLink="/cafe-menu">Food</a></li>
                            <li><a routerLink="/cafe-menu">Beverages</a></li>
                            <li><a routerLink="/all-day-delights">Combos</a></li>
                            <li><a routerLink="/sweet-tooth">Home Delivery</a></li>
                            <li><a routerLink="/nutritiionalInfo">Nutritional Info</a></li>
                        </ul>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    <strong>Shop</strong>
                        <ul>
                            <li><a routerLink="/coffee-and-tea">Coffee Mugs & Cups</a></li>
                            <li><a href="#">Coffee Makers & Wakecup</a></li>
                            <li><a href="#">Coffee Powder</a></li>
                            <li><a routerLink="/gift">Gift</a></li>
                        </ul>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    <strong>Business</strong>
                        <ul>
                            <li><a routerLink="/lease-enquiry">Lease Inquiry</a></li>
                            <li><a routerLink="/advertise-with-us">Advertise With Us</a></li>
                            <li><a routerLink="/bulk-order">Bulk / Corporate Enquiry</a></li>
                            <li><a routerLink="/vending-machine">Coffee Vending Machine</a></li>
                            <li><a routerLink="/catering-services">Outdoor Catering Service</a></li>
                            <li><a routerLink="/contact-us">Contact Us</a></li>
                        </ul>
                </div>
            </div>
            <div class="col">
                <div class="menu">
                    <strong>About Us</strong>
                        <ul>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">News & Events</a></li>
                            <li><a href="#">Foundation</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a routerLink="/contact-us">Contact Us</a></li>
                        </ul>
                </div>
            </div>
        </div> 
        <hr class="hr">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">© Cafe Coffee Day. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>